<%- include("../partial/header_chat") %>

<body>
    <ul id="chatLog"></ul>
    <form action="" id="sendForm">
        <input name="message" autocomplete="off" /><button>전송</button>
    </form>
</body>
</html>



