<%- include("../partial/header_battle") %>

    <script type="text/javascript">
            
    </script>
    
    <body style="background-color: rgba(58, 123, 153, 0.596);">
    
    <div class="container" style="padding-top: 10px;">
        
        %% 작업중 %%

    </div>    

<%- include("../partial/footer_battle") %>