<%- include("../partial/header") %>

<body>
    <header>
    <div class="mobile-logo">
    <a href=""><img src="/theme/images/logo.gif"></a>
    </div>    
    </a>
    
    </header>

<section id="Banner">
    <div class="logo">
    <img src="/theme/images/logo.gif">
    </div>
    <div class="blacksection">
    <h1>
        오류 입니다. 해당 접근 페이지가 없습니다<br/>
        <%=msg%>
    </h1>    
    </div>    
</section>

<%- include("../partial/footer") %>