<%- include("../partial/header") %>

<body>
    <header>
    <div class="mobile-logo">
    <a href=""><img src="/theme/images/logo.gif"></a>
    </div>    
    </a>
    
    </header>

<section id="Banner">
    <div class="logo">
    <img src="/theme/images/logo.gif">
    </div>
    <div class="blacksection">
    <h1>
        에러가 발생 했습니다. 관리자에게 문의 바랍니다
    </h1>    
    </div>    
</section>

<%- include("../partial/footer") %>