<div class="container" style="padding-top: 10px;">
    <button class="btn btn-danger" onclick="goList('/admin/confirm')">승인 전 리스트</button>
    <button class="btn btn-danger" onclick="goList('/admin/userlist')">승인 후 리스트</button>
    <button class="btn btn-danger" onclick="alert('미완성');">통계</button>
    <button class="btn btn-danger" onclick="alert('못들어옴');">전용버튼</button>
</div>

<div class="container" style="padding-top: 10px;">
    <p>
        승인후 입력된 email로 승인코드 발송됨<br>
        승인해제 후에 입력된 email로 승인해제 이메일 발송됨
    </p>    
    
</div>

<div class="copyright"><p>usaki - theme dgs</p>  
</div>
</body>
</html>