<div class="container" style="padding-top: 10px;">
    <button class="btn btn-danger" onclick="goList('/admin/confirm')">승인 전 리스트</button>
    <button class="btn btn-danger" onclick="goList('/admin/userlist')">승인 후 리스트</button>
    <button class="btn btn-danger" onclick="goList('/admin/userstat');">통계</button>
    <button class="btn btn-danger" onclick="goList('/admin/write');">Privacy</button>
    <button class="btn btn-danger" onclick="goList('/');">메인으로</button>
</div>

<div class="container" style="padding-top: 10px;">
    <p>
        <font style="font-weight: bolder; color: rgb(60, 18, 211);">% 승인후 입력된 email로 승인코드 발송됨</font><br>
        <font style="font-weight: bolder; color: rgb(60, 18, 211);">% 승인해제 후에 입력된 email로 승인해제 이메일 발송됨</font><br>
        <font style="font-weight: bolder; color: rgb(60, 18, 211);">% 거부 후 입력된 email로 거부 이메일 발송됨</font>
    </p>    
    
</div>

<div class="copyright"><p>usaki - theme dgs</p>  
</div>
</body>
</html>