<div class="container" style="padding-top: 10px;">        
    
    <button class="btn btn-danger" onclick="goList('/');">메인으로</button>
</div>

<div class="container" style="padding-top: 10px;">
    <p>
        
    </p>    
    
</div>

<div class="copyright"><p>usaki - theme dgs</p></div>

<div id="divError" class='error' style='display:none'>Error</div>
</body>
</html>