<div class="container" style="padding-top: 10px;">    
    <button class="btn btn-danger" onclick="goList('/');">메인으로</button>
</div>

<div class="container" style="padding-top: 10px;">
    <p>
        <font style="font-weight: bolder; color: rgb(60, 18, 211);">% 작업중</font><br>    
    </p>    
    
</div>

<div class="copyright"><p>usaki - theme dgs</p>  
</div>
</body>
</html>