<div class="container" style="padding-top: 10px;">    
    <button class="btn btn-danger" onclick="goList('/asmonel');">점수 입력</button>
    <button class="btn btn-danger" onclick="goList('/asmonel/stat');">통계</button>
    <button class="btn btn-danger" onclick="goList('/');">메인으로</button>    
</div>

<div class="container" style="padding-top: 10px;">
    <p>
        <font style="font-weight: bolder; color: rgb(60, 18, 211);">% 열 합계 및 평균은 개별</font><br>        
        <font style="font-weight: bolder; color: rgb(60, 18, 211);">% 행 합계 및 평균은 전체</font><br>        
        <font style="font-weight: bolder; color: rgb(60, 18, 211);">% 증감 및 증감율은 일별일 경우 전일 월별일 경우 전달</font><br>        
    </p>    
    
</div>

<div class="copyright"><p>usaki - theme dgs</p></div>

<div id="divError" class='error' style='display:none'>Error</div>
</body>
</html>