<div class="container" style="padding-top: 10px;">        

    <button class="btn btn-danger" onclick="goList('/battle');">카드리스트</button>
    <button class="btn btn-danger" onclick="goList('/battle/cardmake');">카드생성</button>
    <button class="btn btn-danger" onclick="goList('/battle/skill');">장비스킬생성</button>
    <button class="btn btn-danger" onclick="goList('/battle/simul');">전투시뮬</button>
    <button class="btn btn-danger" onclick="goList('/');">메인으로</button>        
</div>

<div class="container" style="padding-top: 10px;">
    <p>
        <font style="font-weight: bolder; color: rgb(60, 18, 211);">#카드생성시 각 장비스킬은 "장비스킬관리" 에서 먼저 생성해야 합니다.</font><br>        
    </p>    
    
</div>

<div class="copyright"><p>usaki - theme dgs</p></div>

<div id="divError" class='error' style='display:none'>Error</div>
</body>
</html>