<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<meta charset="utf-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="/theme/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/theme/images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/theme/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/theme/images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/theme/images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/theme/images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/theme/images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/theme/images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/theme/images/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/theme/images/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/theme/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/theme/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/theme/images/favicon-16x16.png">
<!-- favicons -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/theme/css/style.css">
<link rel="stylesheet" type="text/css" href="/theme/css/custom-responsive-style.css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<script type="text/javascript" src="/theme/scripts/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/theme/scripts/plugin-active.js"></script>
<script type="text/javascript" src="/theme/scripts/jquery-usaki.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {
    
    $("#ddlCardList").on("change", function() {
        var selcard = $("#ddlCardList").val();

        $.ajax({
            type : "POST",
            url : "/admin/cardview",
            dataType : "JSON",            
            data : {
                "seq" : selcard                
            },
            success: function(result){                                                 
                if (result.length > 0) {                    
                    $("#name").val(result[0].cardname);

                    $("#level").val(result[0].cardlevel);
                    $("#type").val(result[0].cardtype);
                    $("#race").val(result[0].cardrace);

                    $("#actpower").val(result[0].cardactpower);
                    $("#active1").val(result[0].cardactive1);
                    $("#active1_cooltime").val(result[0].cardactive1_waiting);
                    $("#active2").val(result[0].cardactive2);
                    $("#active2_cooltime").val(result[0].cardactive2_waiting);
                    $("#effect").val(result[0].maineffect);                    
                }                                                        
            },
            error : function(e) {                
                console.log("ERROR: ", e);
            }
        });     
        
    });
    
    $("#ddlYm").on("change", function() {        
        var form = $("#userstat");

        $("#userstat").attr("action", "/admin/userstat");    
        form.submit();        
    })    
});

var userStat = function() {
    var form = $("#userstat");

    form.attr("action", "/admin/userstat");
    form.submit();        
}

var vEnter = function() {
    if (event.keyCode == 13) {
        
    }
}

var vLogin = function() {
    //$("#lLogin").css("display", "none");
    //$("#lLogout").css("display", "block");
    //$("#loginInfo").html("후후 로그인중");

    var uid = $("#txtUid").val();
    var pwd = $("#txtPwd").val();
    var code = $("#txtCode").val();

    if (uid == "") { alert("아이디를 입력해주세요."); return; }
    if (pwd == "") { alert("패스워드를 입력해주세요."); return; }
    if (code == "") { alert("승인코드를 입력해주세요."); return; }

    $.ajax({
            type : "POST",
            url : "/card/login",
            dataType : "JSON",            
            data : {
                "uid" : uid,
                "pwd" : pwd,
                "code" : code
            },
            success: function(result){
                if (result.length > 0) {
                    if (result == "SUCCESS") {       
                        var code = $("#txtCode").val();
                        setCookie("userInputCode", code, 31);
                        document.location.href = "/";
                    } else {
                        alert(result);
                    }                                        
                }                                                        
            },
            error : function(e) {                
                console.log("ERROR: ", e);
            }
        });            
}

var vLogout = function() {
    //$("#lLogin").css("display", "block");
    //$("#lLogout").css("display", "none");
    //$("#loginInfo").html("");

    $.ajax({
            type : "POST",
            url : "/card/logout",
            dataType : "JSON",            
            data : {
                
            },
            success: function(result){
                if (result.length > 0) {
                    if (result == "SUCCESS") {
                        document.location.href = "/";
                    } else {
                        alert(result);
                    }                                        
                }                                                        
            },
            error : function(e) {                
                console.log("ERROR: ", e);
            }
        });    
}

var goList = function(v) {
    if (v == "/admin/write") {
        alert("Root만 접근 가능");
    }
    document.location.href = v;
}

var loginConfirm = function(v) {
    if (!confirm("승인합니까?")) { return; }

    var selValue = $("#selType_" + v).val();

    if (selValue == "") {
        alert("승인 타입을 선택해주세요.");
        return;
    }

    $.ajax({
            type : "POST",
            url : "/admin/confirm_process",
            dataType : "JSON",            
            data : {
                "seq" : v,
                "type" : selValue                
            },
            success: function(result){
                if (result.length > 0) {
                    if (result == "SUCCESS") {                               
                        document.location.href = "./confirm";
                    } else {
                        alert(result);
                    }                                        
                }                                                        
            },
            error : function(e) {                
                console.log("ERROR: ", e);
            }
        });           
}

var loginEject = function(v) {
    if (!confirm("거부합니까? 해당 내역은 삭제됩니다.")) { return; }
    
    $.ajax({
            type : "POST",
            url : "/admin/confirm_eject",
            dataType : "JSON",            
            data : {
                "seq" : v                
            },
            success: function(result){
                if (result.length > 0) {
                    if (result == "SUCCESS") {                               
                        document.location.href = "./confirm";
                    } else {
                        alert(result);
                    }                                        
                }                                                        
            },
            error : function(e) {                
                console.log("ERROR: ", e);
            }
        });    
}

var loginDel = function(v) {
    if (!confirm("해당 계정을 삭제하시겠습니까?")) { return; }
    
    $.ajax({
            type : "POST",
            url : "/admin/confirm_del",
            dataType : "JSON",            
            data : {
                "seq" : v                
            },
            success: function(result){
                if (result.length > 0) {
                    if (result == "SUCCESS") {                               
                        document.location.href = "./userlist";
                    } else {
                        alert(result);
                    }                                        
                }                                                        
            },
            error : function(e) {                
                console.log("ERROR: ", e);
            }
        });    
}

var loginChange = function(v) {
    if (!confirm("변경합니까?")) { return; }

    var selValue = $("#selType_" + v).val();

    if (selValue == "") {
        alert("타입을 선택해주세요.");
        return;
    }

    $.ajax({
            type : "POST",
            url : "/admin/confirm_change_process",
            dataType : "JSON",            
            data : {
                "seq" : v,
                "type" : selValue                
            },
            success: function(result){
                if (result.length > 0) {
                    if (result == "SUCCESS") {                               
                        document.location.href = "./userlist";
                    } else {
                        alert(result);
                    }                                        
                }                                                        
            },
            error : function(e) {                
                console.log("ERROR: ", e);
            }
        });      
}

var cardInsert = function() {
    if (!confirm("입력합니까?")) { return; }

    var form = $("#cardForm");

    var name = $("#name").val();
    var actpower = $("#actpower").val();
    var active1 = $("#active1").val();
    var active1_cooltime = $("#active1_cooltime").val();
    var active2 = $("#active2").val();
    var active2_cooltime = $("#active2_cooltime").val();
    var effect = $("#effect").val();

    if (name == "") { alert("이름 필요함"); return; }
    if (actpower == "") { alert("행동력 필요함"); return; }
    if (active1 == "") { alert("액티브1 필요함"); return; }
    if (active1_cooltime == "") { alert("액티브1 쿨타임 필요함"); return; }
    if (active2 == "") { alert("액티브2 필요함"); return; }
    if (active2_cooltime == "") { alert("액티브2 쿨타임 필요함"); return; }
    
    $("#cardForm").attr("action", "/admin/cardinsert");    
    form.submit();
}

var cardUpdate = function() {
    if (!confirm("대표효과 업데이트?")) { return; }

    var form = $("#cardForm");

    var name = $("#name").val();
    var actpower = $("#actpower").val();
    var active1 = $("#active1").val();
    var active1_cooltime = $("#active1_cooltime").val();
    var active2 = $("#active2").val();
    var active2_cooltime = $("#active2_cooltime").val();
    var effect = $("#effect").val();    

    if (name == "") { alert("이름 필요함"); return; }
    if (effect == "") { alert("대표효과 필요함"); return; }    

    $("#cardForm").attr("action", "/admin/cardupdate");    
    form.submit();
}

var cardDelete = function() {
    if (!confirm("삭제합니까?")) { return; }

    var form = $("#cardForm");

    var name = $("#name").val();
    var actpower = $("#actpower").val();
    var active1 = $("#active1").val();
    var active1_cooltime = $("#active1_cooltime").val();
    var active2 = $("#active2").val();
    var active2_cooltime = $("#active2_cooltime").val();
    var effect = $("#effect").val();    

    if (name == "") { alert("이름 필요함"); return; }

    $("#cardForm").attr("action", "/admin/carddelete");    
    form.submit();
}

var logDel = function() {
    if (!confirm("모두 삭제합니까?")) { return; }
        
    $.ajax({
            type : "POST",
            url : "/admin/log_del",
            dataType : "JSON",            
            data : {
                "url" : "logs"                
            },
            success: function(result){
                if (result.length > 0) {
                    if (result == "SUCCESS") {                               
                        document.location.href = "./loglist";
                    } else {
                        alert(result);
                    }                                        
                }                                                        
            },
            error : function(e) {                
                console.log("ERROR: ", e);
            }
        });      
}

var logDelEach = function(v) {
    if (!confirm("삭제합니까?")) { return; }
        
        $.ajax({
                type : "POST",
                url : "/admin/log_del_each",
                dataType : "JSON",            
                data : {
                    "url" : "logs",
                    "filename" : v
                },
                success: function(result){
                    if (result.length > 0) {
                        if (result == "SUCCESS") {                               
                            document.location.href = "./loglist";
                        } else {
                            alert(result);
                        }                                        
                    }                                                        
                },
                error : function(e) {                
                    console.log("ERROR: ", e);
                }
            });     
}

</script>
</head>