<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<meta charset="utf-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="/theme/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/theme/images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/theme/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/theme/images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/theme/images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/theme/images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/theme/images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/theme/images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/theme/images/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/theme/images/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/theme/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/theme/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/theme/images/favicon-16x16.png">
<!-- favicons -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/theme/css/style.css">
<link rel="stylesheet" type="text/css" href="/theme/css/custom-responsive-style.css">

<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">-->
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />  
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript" src="/theme/scripts/plugin-active.js"></script>
<script type="text/javascript" src="/theme/scripts/jquery-usaki.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="text/javascript">

$(document).ready(function() {       
  
});

var goList = function(v) {
    if (v == "/admin/write") {
        alert("Root만 접근 가능");
    }

    document.location.href = v;
}

var msg = function(v) {
    $("#divError").html(v);
    $("#divError").fadeIn(400).delay(2000).fadeOut(400);
}


</script>
</head>