<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<meta charset="utf-8">
<!--<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=medium-dpi" />-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- favicons -->
<link rel="apple-touch-icon" sizes="57x57" href="/theme/images/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/theme/images/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/theme/images/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/theme/images/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/theme/images/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/theme/images/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/theme/images/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/theme/images/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/theme/images/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/theme/images/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/theme/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/theme/images/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/theme/images/favicon-16x16.png">
<!-- favicons -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/theme/css/style.css">
<link rel="stylesheet" type="text/css" href="/theme/css/custom-responsive-style.css">

<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">-->
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">-->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" />  
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!--<script type="text/javascript" src="/theme/scripts/jquery-3.2.1.min.js"></script>-->
<script type="text/javascript" src="/theme/scripts/plugin-active.js"></script>
<script type="text/javascript" src="/theme/scripts/jquery-usaki.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="text/javascript">

var bExist = false;
$(document).ready(function() {       

    $("input:text[numberOnly]").on("keyup", function() {
        $(this).val($(this).val().replace(/[^0-9,]/g,""));
    });
            
    $("#datePick").datepicker({
        showButtonPanel: true,
        changeMonth: true, 
        changeYear: true,
        nextText: '다음 달',
        prevText: '이전 달', 
        dayNames: ['일요일', '월요일', '화요일', '수요일', '목요일', '금요일', '토요일'],
        dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'], 
        monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
        monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'],
        dateFormat: "yy-mm-dd",
        maxDate: 0,
        onClose: function( selectedDate ) {    
            dupleCheck();
        }
    });

    var yy = new Date().getFullYear();
    var mm = new Date().getMonth() + 1;
    if (mm < 10) mm = "0" + mm;
    var dd = new Date().getDate();
    if (dd < 10) dd = "0" + dd;

    $("#datePick").val(yy.toString()+"-"+mm.toString()+"-"+dd.toString());    

    $("#rdType1").on("click", function() {        
        $("#gSum").css("display", "");
        $("#gOne").css("display", "none");
        $("#gTwo").css("display", "none");

        $("#txtScore1").val("");
        $("#txtScore2").val("");
    });

    $("#rdType2").on("click", function() {
        $("#gSum").css("display", "none");
        $("#gOne").css("display", "");
        $("#gTwo").css("display", "");

        $("#txtScoreSum").val("");
    });

    $("#txtScoreSum").focus();

    $("#btnSave").on("click", function() {        
        var scoresum = 0;
        var score1 = 0;
        var score2 = 0;
        
        var rdtype1 = $("#rdType1").is(":checked");
        var rdtype2 = $("#rdType2").is(":checked");
        var selDate = $("#datePick").val();

        if (rdtype1) {            
            scoresum = $("#txtScoreSum").val().replace(/[,]/g,"");                        

            if (scoresum == "") {
                alert("점수를 입력해주세요."); return;
            }
        }

        if (rdtype2) {
            score1 = $("#txtScore1").val().replace(/[,]/g,"");            
            score2 = $("#txtScore2").val().replace(/[,]/g,"");            

            if (score1 == "" || score2 == "") {
                alert("점수를 모두 입력해주세요."); return;
            }

            scoresum = parseInt(score1) + parseInt(score2);
        }
                
        scoresum = scoresum.toString().replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');

        if (!confirm("날짜 : ["+selDate+"], 총점수 : ("+scoresum+") 정확하나요?")) return;

        console.log(bExist);
        if (bExist) {
            $.ajax({
                type : "POST",
                url : "/asmonel/update",
                dataType : "JSON",            
                data : {
                    "date" : selDate,
                    "scoresum" : scoresum,
                    "score1" : score1,
                    "score2" : score2
                },
                success: function(result){                                                 
                    if (result.length > 0) {                    
                        if (result == "SUCCESS") {       
                            $("#divError").html("업데이트 완료");
                            $("#divError").fadeIn(400).delay(2000).fadeOut(400);

                            document.location.reload();
                        }                    
                    }                                                        
                },
                error : function(e) {                
                    console.log("ERROR: ", e);

                    $("#divError").html("오류입니다 : " + e);
                    $("#divError").fadeIn(400).delay(2000).fadeOut(400);
                }
            });     
        } else {
            $.ajax({
                type : "POST",
                url : "/asmonel/save",
                dataType : "JSON",            
                data : {
                    "date" : selDate,
                    "scoresum" : scoresum,
                    "score1" : score1,
                    "score2" : score2
                },
                success: function(result){                                                 
                    if (result.length > 0) {                    
                        if (result == "SUCCESS") {       
                            $("#divError").html("입력 완료");
                            $("#divError").fadeIn(400).delay(2000).fadeOut(400);

                            document.location.reload();
                        }                    
                    }                                                        
                },
                error : function(e) {                
                    console.log("ERROR: ", e);

                    $("#divError").html("오류입니다 : " + e);
                    $("#divError").fadeIn(400).delay(2000).fadeOut(400);
                }
            });     
        }
                
    });        

    dupleCheck();
});


var dupleCheck = function() {
    var selDate = $("#datePick").val();

    $.ajax({
        type : "POST",
        url : "/asmonel/saveChk",
        dataType : "JSON",            
        data : {
            "date" : selDate                    
        },
        success: function(result){                                                 
            
            if (result == "") {
                bExist = false;
            } else {                
                var msg = "해당일자에는 자료가 입력되어 있습니다. <br/>입력하시면 덮어 씌워집니다. <br>";
                msg += "점수 합계 : " + result.scoresum;

                $("#divError").html(msg);
                $("#divError").fadeIn(400).delay(2000).fadeOut(400);

                bExist = true;
            }                                                                                                                 
        },
        error : function(e) {                
            console.log("ERROR: ", e);

            $("#divError").html("오류입니다 : " + e);
            $("#divError").fadeIn(400).delay(2000).fadeOut(400);
        }
    });     
}

var goList = function(v) {
    if (v == "/admin/write") {
        alert("Root만 접근 가능");
    }

    document.location.href = v;
}


</script>
</head>