<%- include("../partial/header_asmonel") %>

    <script type="text/javascript">
            
    </script>
    
    <body style="background-color: rgba(58, 123, 153, 0.596);">
    
    <div class="container" style="padding-top: 10px;">
        
        <form action="" id="userstat" method="post">    
        <span id="spanMsg"></span>
        <select class="custom-select" id="ddlYm" name="ddlYm" style="margin-top:10px; margin-bottom:10px;">    
        </select>
    
        <table class="table table-bordered table-hover">
            <tr>
                <th>ID</th>                
            </tr>        
        </table>        
        </form>
    </div>    

<%- include("../partial/footer_asmonel") %>